
body {
  margin: 0;
  overscroll-behavior-y: none;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.dev-shadows,
.dev-shadows * {
  box-shadow: 0 0 1px hsla(0,0%,0%,0.3);
}

.hoverable:hover {
  background-color: hsl(0,0%,96%);
}

.rotating {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
